.transfer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: linear-gradient(135deg, #e2ebf0, #ffffff);
    padding: 20px;
}
  
.transfer-card {
    background: #fff;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 420px;
}
  
.transfer-card h2 {
    text-align: center;
    color: #0a1f44;
    margin-bottom: 25px;
    font-size: 1.5rem;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
label {
    margin-bottom: 8px;
    color: #333;
    font-weight: 500;
}
  
input {
    margin-bottom: 20px;
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    transition: all 0.3s ease;
}
  
input:focus {
    border-color: #0066ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 102, 255, 0.3);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}
  
button {
    background: #0066ff;
    color: #fff;
    padding: 12px 0;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
  
button:hover:not(:disabled) {
    background: #0051cc;
}
  
button:disabled {
    background: #9bbdf7;
    cursor: not-allowed;
}
  
  
.error {
    color: #e74c3c;
    text-align: center;
    margin-top: 10px;
}
  
.success {
    color: #27ae60;
    text-align: center;
    margin-top: 10px;
}
  
 
.loader {
    border: 3px solid #fff;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: inline-block;
    animation: spin 0.7s linear infinite;
}


.verify-text {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 8px;
}
  
.verify-text.success {
    color: #15803d; /* green */
}
  
.verify-text.error {
    color: #b91c1c; /* red */
}
  
button.disabled-btn {
    background-color: #9ca3af !important; /* gray */
    cursor: not-allowed;
    opacity: 0.7;
}
  
button.disabled-btn:hover {
    background-color: #9ca3af !important;
}
  
  
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}
  