.carousel_container {
    width: 100%;
    margin: 20px auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}
  
.slide_content {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.slide_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}
  
.slide_overlay {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: rgba(0, 114, 206, 0.85); /* Chase blue overlay */
    padding: 16px 20px;
    border-radius: 12px;
    color: #fff;
    max-width: 70%;
}
  
.slide_overlay h2 {
    font-size: 20px;
    margin-bottom: 8px;
}
  
.slide_overlay p {
    font-size: 14px;
    opacity: 0.9;
}
  

.swiper-pagination-bullet {
    background: #0072ce;
    opacity: 0.7;
}
  
.swiper-pagination-bullet-active {
    background: #004080;
}



@media (max-width: 768px) {
    .slide_overlay{
        display: none;
    }
}
